.btnDownloadCV{
    margin-top: 1rem;
    background-color: #007bff;
    border: none;
    box-shadow: 3px 3px 0 white;
    border-radius: 2px;
    /* border: 1px solid white; */
    height: 40px;
    width: 160px;
    color: white;
}
.btnDownloadCV:hover{
    /* background-color: #0450a1; */
    /* background-color: rgb(43, 42, 42);
    background-color: rgb(39, 38, 38); */
    background-color: grey;
    /* color: black; */
    /* color: #007bff;*/
    /* box-shadow: 3px 3px 0 #007bff; */
}